body {
    background-color: #fafafa;
    width: 100%;
    font-family: Roboto;
    font-weight: 300;
}

video {
    width: 100%;
}

.top-bar-mobile {
    background-color: #ffffff;
    width: 100%;
    height: 54px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #DBDBDB solid;
    z-index: 2;
}

.container-stories {
    height: 121px;
    width: 100%;
    margin-top: 54px;
}

.container-stories :nth-child(1) {
    margin-left: 10px;
}

.container-post {
    width: 100%;
    margin-bottom: 60px;
    max-width: 614px;
    margin-left: auto;
    margin-right: auto;
}

.top-post {
    position: relative;
    background-color: #ffffff;
    display: flex;
    width: 100%;
    height: 60px;
    border-top: 1px #DBDBDB solid;
}


.top-post img {
    width: 32px;
    border-radius: 16px;
    position: absolute;
    left: 17px;
    top: 14px;
}

.direita-top-post {
    width: 100%;
    padding-left: 64px;
    padding-right: 18.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.direita-top-post h1 {
    font-weight: 500;
    color: #262626;
}

.img-post {
    width: 100%;
}

.container-post-img img {
    width: 100%;
}

.bottom-post {
    width: 100%;
    background-color: #ffffff;
    position: relative;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 1px #dbdbdb solid;
}

.icons {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
}

.left-bottom-post {
    display: flex;
    justify-content: space-between;
    margin-left: 17.75px;
    margin-top: 10px;
    width: 93px;
    height: max-content;
}

.right-bottom-post {
    margin-right: 16.62px;
    margin-top: 12px;
    height: max-content;
}

.icon-save {
    width: 22px;
    height: 22px;
}

.ion-bot {
    width: 22px;
    height: 22px;
}

.coment-post img {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 42px;
    left: 17px;
}

.coment-post p {
    display: flex;
    position: absolute;
    left: 42px;
    top: 42px;
    height: 21px;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.0
}

.legenda {
    height: 30px;
}

.legenda p {
    position: absolute;
    left: 17px;
    line-height: 16.41px;
}

.username-legenda {
    font-weight: 500;
}

.text-legenda {
    font-weight: 400;
}

span {
    font-weight: 500;
}

.container-stories {
    position: relative;
    display: flex;
    gap: 14px;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.seta {
    color: #ffffff;
    z-index: 10;
    position: absolute;
    right: 9px;
    top: 46px;
}

.seta ion-icon {
    width: 30px;
    height: 30px;
}

.individual-stories {
    width: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 86px;
}

.user-perfil-stories {
    position: relative;
}

.user-perfil-stories img {
    width: 66px;
    height: 66px;
    background-color: #e5e5e5;
    border-radius: 50%;
}


.stories-img img {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.username-stories {
    font-size: 12px;
    font-weight: 400;
    height: 19px;
    line-height: 14.06px;
    display: flex;
    align-items: center;
    color: #262626;
}

.barra-inferior-mobile {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 54px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 614px) {
    .top-bar-desktop {
        display: none;
    }

    .icon-instagram {
        width: 22px;
        height: 22px;
        margin-left: 21.38px;
    }

    .logo-instagram {
        width: 103px;
        height: 29;
    }

    .direct-icon {
        width: 22px;
        height: 22px;
        margin-right: 18.07px;
    }

    .container-side-bar {
        display: none;
    }

    .seta {
        display: none;
    }

    .container-stories {
        overflow: scroll;
        overflow-y: hidden;
    }

}

@media (min-width: 615px) {
    .top-bar-mobile {
        display: none;
    }

    .barra-inferior-mobile {
        display: none;
    }

    .container-side-bar {
        display: none;
    }


    .icon-instagram {
        width: 22px;
        height: 22px;
        position: absolute;
        left: 20px;
        top: 16px;
    }

    .logo-instagram {
        width: 103px;
        height: 29;
        position: absolute;
        left: 63px;
        top: 15px;
    }

    .top-bar-desktop {
        background-color: #ffffff;
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        height: 54px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px #DBDBDB solid;
    }

    .top-bar-left-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .top-left-line {
        border-right: 1px #DBDBDB solid;
        height: 22px;
        position: absolute;
        left: 52px;
        top: 15px;
    }

    .pesquisar {
        background-color: #FAFAFA;
        height: 28px;
        width: 215px;
        border-radius: 3px;
        border: 1px #DBDBDB solid;
        text-align: center;
        color: #979797;
    }

    .top-bar-right-desktop {
        width: 156.25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 16px;
        right: 19px;
    }

    .direct-icon {
        width: 22px;
        height: 22px;
    }


    .container-stories {
        background-color: #ffffff;
        max-width: 614px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
        margin-top: 88px;
        border: 1px #DBDBDB solid;
        border-radius: 3px;
    }

    .container-post {
        border-left: 1px #DBDBDB solid;
        border-right: 1px #DBDBDB solid;
        border-radius: 3px;
    }

}

@media (min-width: 935px) {

    .container-side-bar {
        display: initial;
    }

    .externo-top-bar-desktop {
        background-color: #ffffff;
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        height: 54px;
        width: 100%;
        border-bottom: 1px #DBDBDB solid;
    }

    .top-bar-desktop {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 935px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top-bar-left-desktop {
        height: 54px;
    }

    .icon-instagram {
        width: 22px;
        height: 22px;
        position: absolute;
        left: 0;
        top: 16px;
    }

    .caixa-pesquisa {
        position: absolute;
        left: 380px;
    }

    .logo-instagram {
        width: 103px;
        height: 29;
        position: absolute;
        left: 43px;
        top: 15px;
    }

    .top-left-line {
        border-right: 1px #DBDBDB solid;
        height: 22px;
        position: absolute;
        left: 32px;
        top: 15px;
    }

    .caixa-pesquisa {
        position: absolute
    }


    .pesquisar {
        background-color: #FAFAFA;
        height: 28px;
        width: 215px;
        border-radius: 3px;
        border: 1px #DBDBDB solid;
        text-align: center;
        color: #979797;
    }

    .top-bar-right-desktop {
        width: 156.25px;
        height: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 16px;
        right: 0px;
    }

    .direct-icon {
        width: 22px;
        height: 22px;
    }

    .container-feed {
        position: relative;
        width: 935px;
        margin-left: auto;
        margin-right: auto;
    }

    .container-stories {
        margin-top: 88px;
        margin-left: 0;

    }

    .container-post {
        margin-left: 0;
    }

    .container-side-bar {
        width: 293px;
        height: 500px;
        position: fixed;
        margin-left: 643px;
        top: 88px;
    }

    .user-side-bar {
        position: relative;
    }

    .user-side-bar img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        margin-top: 23px;
    }

    .user-text {
        position: absolute;
        top: 40px;
        left: 73px;
        font-size: 14px;
        font-weight: 500;
        color: #262626;
        line-height: 16.41px;
    }

    .sub-user-text {
        line-height: 16.41px;
        font-size: 14px;
        font-weight: 300;
        color: #8E8E8E;
        position: absolute;
        left: 73px;
        top: 56px;
    }

    .container-top-sugestoes {
        position: absolute;
        top: 110px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .top-left-sugestoes {
        font-size: 12px;
        font-weight: 500;
        color: #8E8E8E;
        line-height: 14.06px;
    }

    .top-right-sugestoes {
        font-size: 12px;
        font-weight: 500;
        line-height: 14.06px;
    }

    .container-bottom-sugestoes {
        margin-top: 56px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .sugestao {

        position: relative;
        height: 34px;
        width: 100%;
    }

    .sugestao img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;
        top: 1px;
    }

    .username-sugestao {
        font-size: 14px;
        font-weight: 500;
        line-height: 16.41px;
        color: #262626;
        position: absolute;
        left: 43px;
        top: 1px;
    }

    .name-sugestao {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.06px;
        color: #8E8E8E;
        position: absolute;
        left: 43px;
        bottom: 1px;
    }

    .follow {
        font-size: 12px;
        font-weight: 500;
        line-height: 14.06px;
        color: #139EF2;
        position: absolute;
        right: 0;
        bottom: 11px;
    }

    .final-text-side-bar {
        font-size: 11px;
        font-weight: 400;
        line-height: 12.89px;
        color: #C7C7C7;
        margin-top: 36px;
    }
}